@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(http://themes.googleusercontent.com/static/fonts/montserrat/v3/IQHow_FEYlDC4Gzy_m8fcgFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}

body{
	padding:0em;
	margin:0em;
	font-family:"Montserrat";
	background-color:#D5DED9;
}

a {
	color:#27ae60;
	text-decoration:none;

}

a:visited {
	color:#27ae60;
	text-decoration:none;
}

a:hover {
	color:#27ae60;
	text-decoration:none;
}

a:active {
	color:#27ae60;
	text-decoration:none;
}

li {
	list-style: none;
}

header{
	border-bottom: 5px solid rgba(65,93,120, .7);
	background-color: rgb(74,106,137);
	position: fixed;
	width:100%;
	z-index: 2;
	top:0px!important;
}

#HeaderLinks{
	margin-left: 60%;
	padding-top:50px;
	width:100%;
	right:0em;
	opacity:1;
	z-index:1;
	margin-top: -3.7em;
}

.MenuLinks{
	font-family:"Montserrat";
	padding:32.5px 15px 1.719em;
	font-size:0.930em;
	color:white;
	float:left;
	display:inline;
	top:0px !important;
}

a.MenuLinks {
	color:white;
}

.MenuLinks:hover {
	background-color:rgb(83,119,154);
}

#mainbody {
	min-width:1200px;
}

#previewfun {
	margin-top:25px;
	padding-bottom:465px;
}

.PreviewBoxes{
	border:2px solid rgba(65,93,120, .7);
	background-color:rgb(83,119,154);
	margin: 2em 3% 0.938em 3%;
	border-radius:5px;
	height:20.250em;
	z-index: 1;
	float:left;
	width:27%;
}

.previewcontent{
	width:auto;
	margin:4%;
}

#roo {
	clear:both;
	float:left;
	width:100%;
	padding-bottom:350px;
	background-color: #675B49;
	color:white;
}

#din {
	clear:both;
	float:left;
	width:100%;
	padding-bottom:350px;
	background-color: #544C40;
	color:white;
}

#pack {
	clear:both;
	float:left;
	width:100%;
	padding-bottom:350px;
	background-color: #796A51;
	color:white;
}

#attract {
	clear:both;
	float:left;
	width:100%;
	padding-bottom:1800px;
	background-color: #413D37;
	color:white;
}

#locate {
	clear:both;
	float:left;
	width:100%!important;
	padding-bottom:350px;
	background-color: #2E2E2E;
	color:white;
}
#reg {
	clear:both;
	float:left;
	width:100%!important;
}

#lookin {
	padding-bottom:200px;
}

#mainbody{
	margin-top:75px;
}

#slider{
    margin-top:8em;
}

#rooms {
	float:left;
	padding-top:90px;
	margin-left: 3em;
}

#dining {
	float:right;
	padding-top:90px;
	margin-right: 3em;

}

#packages {
	float:left;
	padding-top:90px;
	margin-left: 3em;
}

#attractions {
	float:right;
	padding-top: 90px;
	margin-right: 3em;
}

img.lincoln {
	width: 580px;
	position: absolute;
	margin-left: -50em;
	margin-top: -4em;
}

#linc {
	position: absolute;
	margin-top: 20em;
	margin-left: 65em;
}

img.sva {
	position: absolute;
	margin-left: -50em;
	margin-top: -4.5em;
}

#sv {
	padding-top: 100px;
	position: absolute;
	margin-top: 50em;
	margin-left: 65em;
}

img.para {
	position: absolute;
	width: 580px;
	margin-left: -50em;
	margin-top: -4.3em;
}

#para {
	position: absolute;
	margin-top: 93em;
	margin-left: 65em;
}

#location{
	float:left;
	padding-top: 90px;
	margin-left:3em;
}

#register {
	padding-top: 90px;
	margin-left: 3em;
}

hr.vertical {
	margin-top: 18.2em;
	margin-left: 60em;
	height: 300px;
	position: absolute;
} 

hr.v1 {
	margin-left: -9em;
	margin-top: -3em;
	height: 350px;
	position: absolute;
}

hr.v2 {
	margin-left: -9em;
	margin-top: -3em;
	height: 365px;
	position: absolute;
}

hr.horizontal {
	width: 300px;
	position: absolute;
	margin-left: 36em;
	margin-top: 28em;
}

h3.hours {
	position: absolute;
	margin-left: 31.5em;
	margin-top: 26em;
}

p.hours {
	position: absolute;
	margin-left: 37em;
	margin-top: 34em;
}

#address-container {
	position: absolute;
	margin-left: 37em;
	margin-top: 18em;
}

#adman {
	margin-top:2em;
}

form input[type="text"]{
	display:block;
	margin:10px auto;
	padding:20px;
	width:30%;
	border:1px solid rgba(0,0,0,0.3)
	;border-radius:3px;
	font-family:inherit;
	color:rgba(0,0,0,0.8)
}

form select[type="ermah"]{
	display:block;
	margin:10px auto;
	padding:20px;
	width:32.15%;
	border:1px solid rgba(0,0,0,0.3)
	;border-radius:3px;
	font-family:inherit;
	color:rgba(0,0,0,0.8)
}

form input[type="date"]{
	display:block;
	margin:10px auto;
	padding:20px;
	width:30%;
	border:1px solid rgba(0,0,0,0.3);
	border-radius:3px;
	font-family:inherit;
	color:rgba(0,0,0,0.8)
}

form input[type="number"]{
	display:block;
	margin:10px auto;
	padding:20px;
	width:30%;
	border:1px solid rgba(0,0,0,0.3);
	border-radius:3px;
	font-family:inherit;
	color:rgba(0,0,0,0.8)
}

form input[type="submit"]{
	-webkit-appearance:none;
	background:#2980b9;
	color:white;
	padding:10px 30px;
	border-radius:3px;
	border:1px solid rgba(0,0,0,0.1);
	border-bottom:2px solid rgba(0,0,0,0.2);
	text-shadow:1px 1px 3px rgba(0,0,0,0.4);
	margin-bottom:10px
}


footer{
	clear:both;
	background-color:#4A6A89;
	margin-top:31.250em;
	height:4.688em;
	width:100%;
}

.foot {
	text-align:center;
	line-height: 1.7em;
	padding-top:15px;
}

/*Scrollbar*/

::-webkit-scrollbar {  
    width: 12px;  
}  
::-webkit-scrollbar-track {  
    background-color: #eaeaea;  
    border-left: 1px solid #ccc;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #aaa;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}  

/*End Scrollbar*/

/*Begin ipad Media*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

}
/*End ipad Media*/

/*Begin iphone 5 Media*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {

}
/*End iphone 5 Media*/

/* Desktops and laptops */
@media only screen 
and (min-width : 600px)
and (max-width : 960px) {

#HeaderLinks {
	margin-left: 60%;
	padding-top:50px;
	width:12%;
	right:0em;
	opacity:1;
	z-index:1;
	margin-top: -3.7em;
}

.MenuLinks {
	font-family:"Montserrat";
	padding:32.5px 15px 1.719em;
	font-size:0.930em;
	color:white;
	float:left;
	display:inline;
	top:0px !important;
}
}

/* Large screens */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}