/*Begin General Definitions*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(http://themes.googleusercontent.com/static/fonts/montserrat/v3/IQHow_FEYlDC4Gzy_m8fcgFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}

body{
	font-family: "Montserrat";
	background-image:url('images/bg.jpg');
	background-attachment: fixed;
	background: cover;
	padding: 0em;
	margin: 0em;
}

footer{
	clear:both;
	background-color:#4A6A89;
	margin-top:31.250em;
	height:4.688em;
	width:100%;
}


a {
	color: #27ae60!important;
	text-decoration: none;

}

a:visited {
	text-decoration: none;
	color: #27ae60;
}

a:hover {
	text-decoration: none;
	color: #27ae60;
}

a:active {
	text-decoration: none;
	color: #27ae60;
}

li {
	list-style: none;
}
/*End General Definitions*/
/*Begin Floating Positioned Content Definitions*/
#slider{
    margin-top:8em;
}

.sectionpad{
	height:75px;
}

.endsectionpad{
	height:150px;
}

.imgalignleft{
	width:49.5%;
	float:left;
	margin-right:0.2%;
}

.imgalignright{
	width:49.5%;
	float:right;
}

.imgfloatleft{
	float:left;
	margin-left:10%;
}

.imgfloatright{
	float:right;
	margin-right:10%;
}

.vlalign{
	margin:0 auto;
	display:inline-block;
	background-color:white;
	height:21em;
}

.textaligncenterleft{
	width:49.5%;
	float:left;
	margin:4em auto;
}

.textaligncenterright{
	width:49.5%;
	float:right;
	margin:4em auto;
}

.textparaalignleft{
	width:80%;
	margin:0px auto;
}

.textparaalignright{
	width:80%;
	margin:0px auto;
}

.textalign{
	margin:0;
}

.textalignright{
	text-align:right;
}
/*End Floating Positioned Content Definitions*/
/*Begin Header Definitions*/
header{
	border-bottom: 5px solid rgba(65,93,120, .7);
	background-color: rgb(74,106,137);
	top:0px!important;
	text-align: right;
	position: fixed;
	height: 75px;
	z-index: 11;
	width:100%;
}

#logoimg {
	margin-top: -0.79em;
	width: 110px;
	height: 85px;
	float: left;
}

#logotxt {
	padding-top: 0.4em;
	margin-left: 20px;
	float: left;
}

#HeaderLinks{
	right:10px;
	position:fixed;
	width:100%;
	opacity:1;
}

.MenuLinks{
	padding:27px 19px 1.719em;
	font-family:"Montserrat";
	display:inline-block;
	top:0px !important;
	font-size:1.1em;
}

a.MenuLinks {
	color:white!important;
	transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}

.MenuLinks:hover {
	border-bottom: 5px solid #2c3e50;
	background-color:rgb(83,119,154);
	transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}
/*End Header Definitions*/
/*Begin Body and Preview Definitions*/
#mainbody {
	min-width:1200px;
	margin-top:75px;
}

#previewbb {
	display:none!important;
	width:100%;
}

.previewboxes{
	border:2px solid rgba(65,93,120, .7);
	background-color:rgb(83,119,154);
	margin: 2em 3% 0.938em 3%;
	border-radius:5px;
	height:20.250em;
	z-index: 1;
	float:left;
	width:27%;
}

.previewcontent{
	width:auto;
	margin:4%;
}
/*End Body and Preview Definitions*/
/*Begin Rooms Definitions*/
#roomsection {
	clear:both;
	float:left;
	width:100%;
	background-color: #7A6A52;
	color:white;
}

#roomstitle {
	float:left;
	padding-top:90px;
	margin-left: 3em;
}

#chelf{
	clear:both;
	width: 100%;
	margin:0 auto;
}

#lightfoot{
	clear:both;
	width: 100%;
	margin:0 auto;
}

#thompson{
	clear:both;
	width: 100%;
	margin:0 auto;
}

#pulliam{
	clear:both;
	width: 100%;
	margin:0 auto;
}
/*End Room Definitions*/
/*Begin Dining Section Definitions*/
#diningsection{
	clear:both;
	float:left;
	width:100%;
	padding-bottom:150px;
	background-color: #675B49;
	color:white;
}

#diningtitle {
	float:right;
	padding-top:90px;
	margin-right: 3em;
}

#diningfooter{
	text-align:center;
	clear:both;
}
/*End Dining Section Definitions*/
/*Begin Packages Section Definitions*/
#packagesection{
	clear:both;
	float:left;
	width:100%;
	padding-bottom:350px;
	background-color: #544C40;
	color:white;
}

#packagetitle{
	float:left;
	padding-top:90px;
	margin-left: 3em;
}

.pkgpad{
	padding-top:200px;
}

.pkgpadside{
	margin-left: 3em;
}

#onetwo{
       clear:both;
       width: 100%;
       margin:0 auto;
}

#anniversary{
       clear:both;
       width: 100%;
       margin:0 auto;
}
/*End Packages Section Definitions*/
/*Begin Attractions Section Definitions*/
#attractionsection{
	clear:both;
	float:left;
	width:100%;
	background-color: #413D37;
	color:white;
}

#attractiontitle {
	float:right;
	padding-top: 90px;
	margin-right: 3em;
}

.attractionimg{
	float:right;
	margin-right:10%;
	width:440px;
	height:276px;
}

#hildene {
	clear:both;
	width: 100%;
	margin:0 auto;
}

#artscenter {
	clear:both;
	width: 100%;
	margin:0 auto;
}

#paramount {
	clear:both;
	width: 100%;
	margin:0 auto;
}
/*End Attractions Section Definitions*/
/*Begin Location Section Definitions*/
#locationsection {
	clear:both;
	float:left;
	width:100%!important;
	background-color: #2E2E2E;
	color:white;
}

#locationtitle{
	float:left;
	padding-top: 90px;
	margin-left:3em;
}

#locationbb {
	clear:both;
	width: 100%;
	margin:0 auto;
}
/*End Location Section Definitions*/
/*Begin Registration Form Definitions*/
form input[type="text"]{
	display:block;
	margin:10px auto;
	padding:20px;
	width:30%;
	border:1px solid rgba(0,0,0,0.3)
	;border-radius:3px;
	font-family:inherit;
	color:rgba(0,0,0,0.8)
}

form select[type="ermah"]{
	display:block;
	margin:10px auto;
	padding:20px;
	width:30%;
	border:1px solid rgba(0,0,0,0.3)
	;border-radius:3px;
	font-family:inherit;
	color:rgba(0,0,0,0.8)
}

form input[type="date"]{
	display:block;
	margin:10px auto;
	padding:20px;
	width:30%;
	border:1px solid rgba(0,0,0,0.3);
	border-radius:3px;
	font-family:inherit;
	color:rgba(0,0,0,0.8)
}

form input[type="number"]{
	display:block;
	margin:10px auto;
	padding:20px;
	width:30%;
	border:1px solid rgba(0,0,0,0.3);
	border-radius:3px;
	font-family:inherit;
	color:rgba(0,0,0,0.8)
}

form input[type="submit"]{
	-webkit-appearance:none;
	background:#c0392b;
	color:white;
	padding:10px 30px;
	border-radius:3px;
	border:1px solid rgba(0,0,0,0.1);
	border-bottom:2px solid rgba(0,0,0,0.2);
	text-shadow:1px 1px 3px rgba(0,0,0,0.4);
	margin-bottom:10px
}
/*End Registration Form Definitions*/
/*Begin Registration Section Definitions*/
#registrationsection {
	clear:both;
	float:left;
	width:100%!important;
}

#registrationtitle {
	padding-top: 90px;
	margin-left: 3em;
	color:white;
}

#registrationheader{
	text-align:center;
	clear:both;
	color:white;
}

#lookin {
	padding-bottom:200px;
}
/*End Registration Section Definitions*/
/*Begin Footer Definitions*/
#foot {
	text-align:center;
}

a.foot {
	text-align: center;
}
/*End Footer Definitions*/
/*Begin Media Queries*/
/*Scrollbar*/

::-webkit-scrollbar {  
    width: 12px;  
}  
::-webkit-scrollbar-track {  
    background-color: #eaeaea;  
    border-left: 1px solid #ccc;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #aaa;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}  

/*End Scrollbar*/

/*Begin ipad Media*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

}
/*End ipad Media*/

/* Desktops and laptops */
@media only screen 
and (min-width : 300px)
and (max-width : 1137px) {

body {
	overflow: scroll;
}

#HeaderLinks {
	padding-top:45px;
	right:0em;
	opacity:1;
	z-index:3;
	margin-top: -3.7em;
}

.MenuLinks {
	font-family:"Montserrat";
	padding:32.5px 7px 1.719em;
	font-size:0.930em;
	color:white;
	float:right;
	display:inline;
	top:0px !important;
}

#diningsection{
	clear:both;
	float:left;
	width:100%;
	padding-bottom:350px;
	background-color: #675B49;
	color:white;
}

#roomsection {
	clear:both;
	float:left;
	width:100%;
	background-color: #7A6A52;
	color:white;
}

#packagesection{
	min-width: 600px;
	clear:both;
	float:left;
	width:100%;
	padding-bottom:350px;
	background-color: #544C40;
	color:white;
}

}

/* Large screens */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
/*End Media Queries*/